@font-face {
  font-family: "iconfont"; /* Project id 3441901 */
  src: url('iconfont.woff2?t=1654260255345') format('woff2'),
       url('iconfont.woff?t=1654260255345') format('woff'),
       url('iconfont.ttf?t=1654260255345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vuenanshi:before {
  content: "\e6a9";
}

.icon-vuenvshi:before {
  content: "\e6aa";
}

.icon-vuesousuo:before {
  content: "\e651";
}

.icon-vuepengyouquan:before {
  content: "\e6a0";
}

.icon-vuexiaoxi:before {
  content: "\e68c";
}

.icon-vuewenjian:before {
  content: "\e64c";
}

.icon-vuelianxiren:before {
  content: "\e9d2";
}

.icon-vuecollection-1:before {
  content: "\e646";
}

.icon-vueset-3:before {
  content: "\e63d";
}

